@model PersonModel
@{
    ViewData["Title"] = "Create or Edit Page";
}

@{
    ViewBag.Title = "Add or Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Person</h4>
        <hr />
        @Html.ValidationSummary(true, "")
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.FirstName)
            <div>
                @Html.EditorFor(model => model.FirstName)
                @Html.ValidationMessageFor(model => model.FirstName, "")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName)
            <div>
                @Html.EditorFor(model => model.LastName)
                @Html.ValidationMessageFor(model => model.LastName, "")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Gender)
            <div>
                @Html.EditorFor(model => model.Gender)
                @Html.ValidationMessageFor(model => model.Gender, "")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateOfBirth)
            <div>
                @Html.EditorFor(model => model.DateOfBirth)
                @Html.ValidationMessageFor(model => model.DateOfBirth, "")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PhoneNumber)
            <div>
                @Html.EditorFor(model => model.PhoneNumber)
                @Html.ValidationMessageFor(model => model.PhoneNumber, "")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.BirthPlace)
            <div>
                @Html.EditorFor(model => model.BirthPlace)
                @Html.ValidationMessageFor(model => model.BirthPlace, "")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsGraduated)
            <div>
                @Html.EditorFor(model => model.IsGraduated)
                @Html.ValidationMessageFor(model => model.IsGraduated, "")
            </div>
        </div>

        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" style="margin:10px 0px;"/>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>