@model IEnumerable<asp3.Models.PersonModel> 

@{
    ViewData["Title"] = "Home Page";
}

<h1>@ViewData["Title"]</h1>
@{
    var yes = "Yes";
    var no = "No";
}
@* <style>
    table, th, td{
        border: 1px solid black;
    }
</style> *@

<p>@Html.ActionLink("Create", "AddOrEdit")</p>
<table class="table">
  <tr>
    <th>@Html.DisplayNameFor(model => model.Id)</th>
    <th>@Html.DisplayNameFor(model => model.FirstName)</th>
    <th>@Html.DisplayNameFor(model => model.LastName)</th>
    <th>@Html.DisplayNameFor(model => model.Gender)</th>
    <th>@Html.DisplayNameFor(model => model.DateOfBirth)</th>
    <th>@Html.DisplayNameFor(model => model.PhoneNumber)</th>
    <th>@Html.DisplayNameFor(model => model.BirthPlace)</th>
    <th>@Html.DisplayNameFor(model => model.IsGraduated)</th>
    <th>Action</th>
  </tr>
@foreach (var item in Model)
{
<tr>
    <td>@Html.DisplayFor(itemModel => item.Id)</td>
    <td>@Html.DisplayFor(itemModel => item.FirstName)</td>
    <td>@Html.DisplayFor(itemModel => item.LastName)</td>
    <td>@Html.DisplayFor(itemModel => item.Gender)</td>
    <td>@Html.DisplayFor(itemModel => item.DateOfBirth)</td>
    <td>@Html.DisplayFor(itemModel => item.PhoneNumber)</td>
    <td>@Html.DisplayFor(itemModel => item.BirthPlace)</td>
    <td>@if(item.IsGraduated == true){
        @yes;
    }else{
        @no;
    }
    <td>
        @Html.ActionLink("Edit", "AddOrEdit", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { confirm = true, id = item.Id }, new { onclick = "return confirm('Do you really want to delete this person?')"})
    </td>
    </td>
</tr>
}
</table>