@model List<PersonModel>  
@{
    ViewData["Title"] = "Male Persons List";
}
<h1>@ViewData["Title"]</h1>
@{
    var yes = "Yes";
    var no = "No";
}
<style>
    table, th, td{
        border: 1px solid black;
    }
</style>

<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Gender</th>
    <th>Date of Birth</th>
    <th>Phone Number</th>
    <th>Birth Place</th>
    <th>Graduated</th>
  </tr>
@foreach (var item in Model)
{
<tr>
    <td>@item.FirstName</td>
    <td>@item.LastName</td>
    <td>@item.Gender</td>
    <td>@item.DateOfBirth</td>
    <td>@item.PhoneNumber</td>
    <td>@item.BirthPlace</td>
    <td>@if(item.IsGraduated == true){
        @yes;
    }else{
        @no;
    }
    </td>
</tr>
}
</table>