@model PersonModel  
@{
    ViewData["Title"] = "Oldest Person";
}
<h1>@ViewData["Title"]</h1>
@{
    var yes = "Yes";
    var no = "No";
}
<h5>First name: @Model.FirstName</h5>  
<h5>Last name: @Model.LastName</h5>  
<h5>Gender: @Model.Gender</h5>   
<h5>Date of birth: @Model.DateOfBirth</h5>   
<h5>Phone number: @Model.PhoneNumber</h5>   
<h5>Birthplace: @Model.BirthPlace</h5>   
<h5>Graduated : @if(Model.IsGraduated == true){
    @yes;
}else{
    @no;
}</h5>   